@using MagicHamster.GrocerySamurai.PresentationLayer.Models
@using Microsoft.AspNetCore.Http
@model IEnumerable<MagicHamster.GrocerySamurai.Model.Entities.Store>
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}

<input type="hidden" id="store-selected" value="@HttpContextAccessor.HttpContext.Session.GetString("StoreSelected")" />
<div class="container-fluid table-container table-container-hidden">
    <div class="col-sm-6 panel panel-primary">
        <div class="row panel-heading panel-title">
            Stores
        </div>
        <div class="row">
            <a asp-action="Create" id="create-store">Create New</a>
        </div>
        <div class="row panel-body">
            <table id="datatable-store" class="table table-striped table-bordered table-hover bootstrap-decorate">
                <thead>
                    <tr>
                        <th class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th data-orderable="false" class="col-sm-3">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var itemName = item.Name.ToLower().Replace(" ", "-");
                        <tr data-bind="@item.Id">
                            <td id="name-@itemName">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td id="description-@itemName">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <div class="btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group" role="group">
                                        <button id="edit-button-@(itemName)" class="form-control btn btn-default btn-primary btn-table" onclick="location.href = '@Url.Action("Edit", "Store", new {id = item.Id})'">Edit</button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button id="delete-button-@(itemName)" class="form-control btn btn-default btn-danger btn-table delete" data-toggle="modal" data-target="#delete-confirm-store" data-id="@item.Id" data-name="@item.Name" data-type="Store" data-action="Delete" title="Delete">Delete</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="div-child" class="col-sm-6">
    </div>
</div>
@{ await Html.RenderPartialAsync("../Shared/DeleteDialog", new DeleteConfirm { Name = "Store", Type = "Store" }); }
